<div class="p-10 grid min-h-screen items-centersm:grid-rows-2 md:grid-cols-2">
  <div class="grid grid-rows-[5rem_auto] gap-0">
    <div>
      <h1 class="text-2xl font-semibold">SMS Builder</h1>
      <p class="text-xl font-normal">Systematic Mapping Study</p>
    </div>
    <img src="grid.jpeg" />
  </div>
  <div>
    <form [formGroup]="loginForm">
      <div tuiCardLarge tuiAppearance="floating">
        <h3 class="font-semibold text-xl">Welcome!</h3>

        <div>
          <tui-textfield>
            <label tuiLabel>Username</label>
            <input
              placeholder="Enter username"
              tuiTextfield
              type="text"
              formControlName="username"
            />
          </tui-textfield>
        </div>

        <div>
          <tui-textfield>
            <label tuiLabel>Password</label>
            <input
              placeholder="Enter password"
              tuiTextfield
              type="password"
              formControlName="password"
            />
            <tui-icon tuiPassword />
          </tui-textfield>
        </div>
        <div>
          <button size="m" tuiButton type="button">Login</button>
        </div>

        <div>
          <p class="text-sm text-slate-500">
            Need an account?
            <a class="font-semibold text-blue-600" routerLink="/register"
              >Sign up</a
            >
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
